@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/global";

.blog {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {
    .blog-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .blog-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 40px;

      .blog-applied-filters {
        display: flex;
        flex-wrap: wrap;

        .blog-applied-filter {
          display: flex;
          align-items: center;
          padding: 8px 20px;
          border-radius: 5px;
          border: 2px solid $blue-text-color;
          font-size: 16px;
          color: $blue-text-color;
          margin-right: 20px;
          margin-bottom: 20px;

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            margin-left: 8px;
          }
        }
      }

      .blog-sorting {
        width: 257px;
        box-sizing: border-box;
        position: relative;
        font-size: 16px;

        .blog-sorting__head {
          display: flex;
          align-items: center;
          padding: 12px 0 12px 123px;
          justify-content: space-between;
          color: $base-text-color;

          span {
            margin-right: 8px;
          }
        }

        .blog-sorting__body {
          box-sizing: border-box;
          position: absolute;
          width: 100%;
          z-index: 5;
          display: none;
          padding: 12px 23px;
          background: #FFFFFF;
          color: #BEBEBE;
          border-radius: 0 0 5px 5px;

          .blog-sorting__item {
            margin-bottom: 14px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;


            &:last-child {
              margin-bottom: 0;
            }

            &.active {
              color: $base-text-color;
            }
          }
        }

        &.open {
          width: 257px;
          .blog-sorting__head {
            background-color: #B9D5FD;
            border-radius: 5px 5px 0 0;
            color: $base-text-color;
            padding: 12px 23px;
          }

          .blog-sorting__body {
            display: block;
          }
        }

      }
    }

    .blog-articles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 40px;
    }

    .pagination {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
          opacity: 0.5;
        }
      }

      .pagination-pages {
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        align-items: center;

        .pagination-page {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          margin-right: 40px;
          cursor: pointer;
          font-size: 20px;
          color: $base-text-color;

          &.active {
            color: $blue-text-color;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
