@import "../../../../assets/styles/variables";

header.header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 40px 0;

  .container {
    display: flex;

    .header-content {
      display: flex;
      align-items: center;


      .header-content__menu {
        margin-left: 100px;
        margin-right: 227px;

        nav ul {
          margin: 0;
          padding: 0;
          display: flex;

          li {
            margin-right: 30px;
            list-style: none;
            border-bottom: 1px solid transparent;


            a {
              color: $base-text-color;
              cursor: pointer;
              text-decoration: none;

              &.active {
                color: $blue-text-color;
              }
            }

          }
        }
      }

      .header-content__phone {
        text-decoration: none;
        color: $blue-text-color;
        margin-right: 60px;

      }
      .header-content__auth {
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          cursor: pointer;
          svg {
            margin-right: 9px;
          }
          span {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: $base-text-color;
          }
        }
      }
    }
  }
}
