@import "../../../../assets/styles/variables";

footer.footer {
  padding-top: 40px;
  padding-bottom: 54px;
  background-color: #B9D5FD;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  .container {

    .footer-about {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      .logo {
        margin-right: 40px;
      }

      .footer-content__menu {
        nav ul {
          margin: 0;
          padding: 0;
          display: flex;

          li {
            margin-right: 20px;
            list-style: none;
            border-bottom: 1px solid transparent;

            &.active {
              border-bottom-color: $base-text-color;
            }

            a {
              cursor: pointer;
              text-decoration: none;
              color: $blue-text-color;

              background: linear-gradient(to right, transparent, transparent),
              linear-gradient(to right, #bcd1ff, #91B7FFFF);
              background-size: 100% 1px, 0 1px;
              background-position: 100% 100%, 0 100%;
              background-repeat: no-repeat;
              transition: background-size 400ms;

              &:hover {
                background-size: 0 1px, 100% 1px;
              }
            }

          }
        }
      }

    }

    .footer-bottom {
      display: flex;

      .footer-block {
        margin-right: 60px;
        max-width: 253px;

        &:last-child {
          margin-right: 0;
        }

        .footer-block__head {
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          font-weight: 500;
          color: $blue-text-color;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 15px;
          }
        }

        .footer-block__address {
          margin-bottom: 31px;
        }

        .footer-block__phone {
          margin-bottom: 10px;
        }

        .footer-block__email {
          cursor: pointer;
          text-decoration: none;
          font-size: 14px;
          font-weight: 400;
          color: $base-text-color;
        }
      }
    }

  }
}
