<ng-template #popup>
  <div class="popup" [formGroup]="popupForm" *ngIf="!isSuccessOrder" (keydown.enter)="creatOrder()">
    <div class="popup-close" (click)="closePopup()">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.935622" y1="0.649994" x2="12.9564" y2="12.6708" stroke="#BEBEBE" stroke-linecap="round"/>
        <line x1="12.9236" y1="0.629775" x2="0.902769" y2="12.6506" stroke="#BEBEBE" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="popup-title">
      Заявка на услугу
    </div>
    <div class="popup-inputs">
      <div class="popup-input">
        <select type="select" class="input" formControlName="service"
                [ngStyle]="{'border-color': popupForm.get('service')?.invalid
                && (popupForm.get('service')?.dirty || popupForm.get('service')?.touched) ? 'red' : ''}">
          <option>Копирайтинг</option>
          <option>Продвижение</option>
          <option>Реклама</option>
          <option>Создание сайтов</option>
        </select>
      </div>
      <div class="popup-input">
        <input type="text" class="input" autoFocus placeholder="Ваше имя" formControlName="name"
               [ngStyle]="{'border-color': popupForm.get('name')?.invalid
        && (popupForm.get('name')?.dirty || popupForm.get('name')?.touched) ? 'red' : ''}">
        <div class="invalid-feedback" *ngIf="popupForm.get('name')?.invalid && (popupForm.get('name')?.touched || popupForm.get('name')?.dirty)
          && popupForm.get('name')?.errors?.['required']">
          Необходимо ввести имя
        </div>


        <input type="text" class="input" [mask]="'+0(000)-000-00-00'"  placeholder="Ваш номер телефона" formControlName="phone"
               [ngStyle]="{'border-color': popupForm.get('phone')?.invalid
               && (popupForm.get('phone')?.dirty || popupForm.get('phone')?.touched) ? 'red' : ''}">
        <div *ngIf="popupForm.get('phone')?.invalid && (popupForm.get('phone')?.touched || popupForm.get('phone')?.dirty)">
          <div class="invalid-feedback" *ngIf="popupForm.get('phone')?.errors?.['required']">
            Необходимо ввести номер телефона
          </div>
          <div class="invalid-feedback" *ngIf="popupForm.get('phone')?.errors?.['pattern']">
            Номер телефона должен состоять из цифр и не менее 10 символов
          </div>
        </div>
      </div>
      <div class="popup-action">
        <button class="button" [disabled]="popupForm.invalid" (click)="creatOrder()" (keydown.enter)="creatOrder()">Заказать консультацию</button>
        <div class="popup-action-textError" *ngIf="isErrorOrder">
          произошла ошибка при отправке формы, попробуйте еще раз.
        </div>
      </div>
    </div>
  </div>

  <div class="successPopup" *ngIf="isSuccessOrder">
    <div class="successPopup-close" (click)="closePopup()">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.93562" y1="2.64999" x2="13.9564" y2="14.6708" stroke="#BEBEBE" stroke-linecap="round"/>
        <line x1="13.9236" y1="2.62978" x2="1.90277" y2="14.6506" stroke="#BEBEBE" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="successPopup-title">
      Спасибо за вашу заявку!
    </div>
    <div class="successPopup-text">
      Мы свяжемся с вами при первой же возможности.
    </div>
    <div class="successPopup-action">
      <button class="button close-btn" (click)="closePopup()">Окей</button>
    </div>
  </div>
</ng-template>
