@import "variables";
@import "mixins";


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  box-sizing: border-box;
  padding: 17px 20px ;
  border-radius: 3px;
  border: 2px solid #709FDC;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $base-text-color;
}

.button {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background: #709FDC;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

.mdc-list-item__primary-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  a {
    text-decoration: none;
    color: $base-text-color;
  }
}

.popup {
  box-sizing: border-box;
  padding: 94px 153px 86px 153px;
  position: relative;
  background-size: cover;
  //width: 727px;
  //height: 489px;
  border-radius: 4px;
  border: 2px solid $blue-text-color;

  .popup-close {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
  }

  .popup-title {
    @include head-lora-38;
    margin-bottom: 20px;
    text-align: center;
  }

  .popup-cons__title {
    max-width: 422px;
  }

  .popup-inputs {
    max-width: 422px;
    .popup-input {
      .input {
        margin-bottom: 5px;
        width: 422px;
        color: $blue-text-color;
      }

      .invalid-feedback {
        color: red;
        text-align: center;
        margin-bottom: 5px;
      }
    }

    .popup-action {
      margin-top: 15px;
      button {
        width: 100%;
      }
    }
  }


}

.successPopup {
  box-sizing: border-box;
  padding: 94px 153px 86px 153px;
  position: relative;
  background-size: cover;
  border-radius: 4px;
  border: 2px solid $blue-text-color;

  .successPopup-close {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
  }

  .successPopup-title {
    @include head-lora-38;
    margin-bottom: 20px;
    text-align: center;
  }

  .successPopup-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #1E1A2B;
    margin-bottom: 40px;
  }
    .successPopup-action {
      text-align: center;

      .popup-action-textError {
        margin-top: 5px;
        color: red;
        text-align: center;
      }

      button {
        padding: 10px 20px;
      }
    }

}

.detail-main__text {
  font-family: 'Montserrat', sans-serif;
  h1,h3 {
    font-size: 20px;
    font-weight: 500;
    color: $blue-text-color;
  }

  b {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: $base-text-color;
  }
}
