@import "variables";

@mixin head-lora-38 {
  font-family: 'Lora', sans-serif;
  font-size: 38px;
  font-weight: 400;
  color: $blue-text-color;
}

@mixin head-lora-36 {
  font-family: 'Lora', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: $blue-text-color;
}
